/* src/components/Navbar.css */
.navbar {
    width: 99%;
    background-color: purple;
    color: white;
    padding: 10px;
    text-align: right; 
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}
